/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/index.scss */
html {
  font-family: microsoft yahei;
}

/* line 7, ../sass/index.scss */
body {
  background-color: #f0f2f5;
}

/* line 10, ../sass/index.scss */
.clearfix {
  *zoom: 1;
}

/* line 13, ../sass/index.scss */
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 19, ../sass/index.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../sass/index.scss */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* line 27, ../sass/index.scss */
header {
  background-color: #024e87;
}
/* line 29, ../sass/index.scss */
header .nav-head {
  padding-top: 10px;
  padding-bottom: 11px;
  overflow: hidden;
  *zoom: 1;
}
/* line 33, ../sass/index.scss */
header .nav-head .logo {
  float: left;
  margin-right: 145px;
}
/* line 37, ../sass/index.scss */
header .nav-head .depart {
  float: left;
  padding-top: 10px;
  margin-right: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../sass/index.scss */
header .nav-head .depart input {
  float: left;
  width: 72px;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background-color: #024273;
  border-style: none;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-bottomleft: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: medium;
}
/* line 54, ../sass/index.scss */
header .nav-head .depart .dep {
  position: relative;
  background-color: #024273;
  float: left;
  padding: 7px 24px 11px 0;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 61, ../sass/index.scss */
header .nav-head .depart .dep span {
  font-family: microsoft yahei;
  font-size: 12px;
  color: #4a7db8;
}
/* line 65, ../sass/index.scss */
header .nav-head .depart .dep span:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3.5px 0 3.5px;
  border-color: #ff8c00 transparent transparent transparent;
}
/* line 80, ../sass/index.scss */
header .nav-head .search {
  float: left;
  padding-top: 10px;
}
/* line 83, ../sass/index.scss */
header .nav-head .search input {
  float: left;
  width: 187px;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background-color: #024273;
  border-style: none;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-bottomleft: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: medium;
}
/* line 95, ../sass/index.scss */
header .nav-head .search .search-img {
  background-color: #024273;
  float: left;
  padding: 10px 8px 8px 10px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 103, ../sass/index.scss */
header .nav-head .tel-logo {
  float: right;
}
/* line 107, ../sass/index.scss */
header .nav-foot {
  overflow: hidden;
  *zoom: 1;
}
/* line 109, ../sass/index.scss */
header .nav-foot .destination {
  float: left;
  background-color: #024273;
  padding: 15px 45px 14px 23px;
}
/* line 113, ../sass/index.scss */
header .nav-foot .destination span {
  font-family: microsoft yahei;
  font-size: 15px;
  color: #4a7db8;
}
/* line 120, ../sass/index.scss */
header .nav-foot .nav {
  float: left;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 14px;
}
/* line 125, ../sass/index.scss */
header .nav-foot .nav ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 127, ../sass/index.scss */
header .nav-foot .nav ul li {
  float: left;
  margin-right: 37px;
}
/* line 130, ../sass/index.scss */
header .nav-foot .nav ul li:first-child {
  margin-right: 45px;
}
/* line 134, ../sass/index.scss */
header .nav-foot .nav ul li:nth-child(3) a {
  color: #ff8e00;
}
/* line 139, ../sass/index.scss */
header .nav-foot .nav ul a {
  text-decoration: none;
  font-size: 15px;
  color: #083053;
  font-family: microsoft yahei;
}
/* line 147, ../sass/index.scss */
header .nav-foot .login {
  float: right;
  padding-top: 18px;
  padding-bottom: 15px;
}
/* line 151, ../sass/index.scss */
header .nav-foot .login span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 2px;
  float: right;
  font-size: 12px;
  color: #3b72ac;
}
/* line 158, ../sass/index.scss */
header .nav-foot .login a {
  float: right;
  text-decoration: none;
  color: #4377b2;
  font-size: 12px;
}

/* line 168, ../sass/index.scss */
.photo {
  margin-bottom: 34px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  -moz-box-shadow: #e3e4e8 0px 3px 0px;
  -webkit-box-shadow: #e3e4e8 0px 3px 0px;
  box-shadow: #e3e4e8 0px 3px 0px;
}
/* line 174, ../sass/index.scss */
.photo img {
  display: block;
}

/* line 178, ../sass/index.scss */
.travelfree {
  margin-bottom: 36px;
  background-color: #fff;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
/* line 183, ../sass/index.scss */
.travelfree .travelF-headline {
  float: left;
  padding: 26px 26px 28px 26px;
  background-color: #1a75bc;
}
/* line 187, ../sass/index.scss */
.travelfree .travelF-headline h3 {
  font-size: 16px;
  color: #fff;
}
/* line 192, ../sass/index.scss */
.travelfree .travelfree-option {
  overflow: hidden;
  *zoom: 1;
  float: left;
  padding: 17px 10px 17px 20px;
}
/* line 196, ../sass/index.scss */
.travelfree .travelfree-option .depart {
  overflow: hidden;
  *zoom: 1;
  float: left;
  padding: 3px;
  margin-right: 10px;
  background-color: #f9f9f9;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: #cacaca 0 1px 3px inset;
  -webkit-box-shadow: #cacaca 0 1px 3px inset;
  box-shadow: #cacaca 0 1px 3px inset;
}
/* line 204, ../sass/index.scss */
.travelfree .travelfree-option .depart span {
  float: left;
}
/* line 206, ../sass/index.scss */
.travelfree .travelfree-option .depart span img {
  display: block;
}
/* line 210, ../sass/index.scss */
.travelfree .travelfree-option .depart input {
  float: left;
  width: 104px;
  background-color: transparent;
  padding-left: 20px;
  height: 28px;
  line-height: 28px;
  border-style: none;
  outline: medium;
}
/* line 221, ../sass/index.scss */
.travelfree .travelfree-option .price {
  overflow: hidden;
  *zoom: 1;
  float: left;
  padding: 3px;
  margin-right: 11px;
  background-color: #f9f9f9;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: #cacaca 0 1px 3px inset;
  -webkit-box-shadow: #cacaca 0 1px 3px inset;
  box-shadow: #cacaca 0 1px 3px inset;
}
/* line 229, ../sass/index.scss */
.travelfree .travelfree-option .price span {
  float: left;
}
/* line 231, ../sass/index.scss */
.travelfree .travelfree-option .price span:nth-of-type(2) {
  padding-top: 5px;
  width: 25px;
  overflow: hidden;
  color: #d3d3d3;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 238, ../sass/index.scss */
.travelfree .travelfree-option .price span img {
  display: block;
}
/* line 242, ../sass/index.scss */
.travelfree .travelfree-option .price input {
  float: left;
  width: 52px;
  background-color: transparent;
  padding-left: 17px;
  height: 28px;
  line-height: 28px;
  border-style: none;
  outline: medium;
}
/* line 251, ../sass/index.scss */
.travelfree .travelfree-option .price input:nth-of-type(2) {
  padding-left: 9px;
  width: 65px;
}
/* line 257, ../sass/index.scss */
.travelfree .travelfree-option .option-button {
  float: left;
}
/* line 259, ../sass/index.scss */
.travelfree .travelfree-option .option-button button {
  float: left;
  width: 62px;
  height: 36px;
  background-color: #ff9600;
  font-size: 15px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  font-family: microsoft yahei;
  outline: medium;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 272, ../sass/index.scss */
.travelfree .travelfree-option .option-button button:last-child {
  background-color: #d1d1d1;
  color: #e6e6e6;
  margin-right: 68px;
}
/* line 280, ../sass/index.scss */
.travelfree .newest {
  float: right;
  padding: 10px 0;
}
/* line 283, ../sass/index.scss */
.travelfree .newest span {
  color: #f5f5f5;
  margin: 0px 2px;
}
/* line 287, ../sass/index.scss */
.travelfree .newest a {
  text-decoration: none;
  font-size: 15px;
  color: #174981;
}
/* line 291, ../sass/index.scss */
.travelfree .newest a:nth-of-type(2) {
  color: #aaa;
}

/* line 298, ../sass/index.scss */
.photowall .wall-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 300, ../sass/index.scss */
.photowall .wall-content li {
  position: relative;
  float: left;
  width: 235px;
  margin-right: 20px;
  margin-bottom: 23px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -moz-box-shadow: #e3e4e8 0px 3px 0px;
  -webkit-box-shadow: #e3e4e8 0px 3px 0px;
  box-shadow: #e3e4e8 0px 3px 0px;
}
/* line 310, ../sass/index.scss */
.photowall .wall-content li:nth-of-type(4) {
  margin-right: 0;
}
/* line 313, ../sass/index.scss */
.photowall .wall-content li:nth-of-type(8) {
  margin-right: 0;
}
/* line 317, ../sass/index.scss */
.photowall .wall-content li a img {
  display: block;
}
/* line 322, ../sass/index.scss */
.photowall .wall-content li:hover .details {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 326, ../sass/index.scss */
.photowall .wall-content li .details {
  position: absolute;
  top: 158px;
  width: 209px;
  padding: 12px 13px;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 333, ../sass/index.scss */
.photowall .wall-content li .details span {
  color: #fff;
  font-size: 13px;
}
/* line 338, ../sass/index.scss */
.photowall .wall-content li .content {
  padding: 9px 7px 11px;
}
/* line 340, ../sass/index.scss */
.photowall .wall-content li .content a {
  text-decoration: none;
}
/* line 342, ../sass/index.scss */
.photowall .wall-content li .content a .information {
  margin-bottom: 15px;
}
/* line 344, ../sass/index.scss */
.photowall .wall-content li .content a .information span {
  line-height: 15px;
  font-size: 13px;
  color: #999;
}
/* line 345, ../sass/index.scss */
.photowall .wall-content li .content a .information span:nth-of-type(1) {
  color: #2f2f2f;
  margin-right: -5px;
}
/* line 355, ../sass/index.scss */
.photowall .wall-content li .content .price {
  position: relative;
  padding-left: 14px;
}
/* line 358, ../sass/index.scss */
.photowall .wall-content li .content .price span {
  font-size: 20px;
  color: #ff9600;
}
/* line 361, ../sass/index.scss */
.photowall .wall-content li .content .price span:before {
  position: absolute;
  top: 6px;
  left: 3px;
  font-family: Arial;
  content: "\00A5";
  font-size: 13px;
  color: #ff9600;
}
/* line 370, ../sass/index.scss */
.photowall .wall-content li .content .price span:last-child {
  font-size: 12px;
  color: #bbb;
  margin-left: 45px;
}
/* line 380, ../sass/index.scss */
.photowall .page {
  padding-top: 27px;
  padding-bottom: 115px;
}
/* line 383, ../sass/index.scss */
.photowall .page ul {
  text-align: center;
}
/* line 385, ../sass/index.scss */
.photowall .page ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 7px 10px;
  background-color: #d9dbe0;
  margin-right: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 391, ../sass/index.scss */
.photowall .page ul li:first-child, .photowall .page ul li:last-child {
  background-color: #669fd3;
}
/* line 395, ../sass/index.scss */
.photowall .page ul li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #8d8d8e;
}
